@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Assistant", sans-serif;
    width: 100%;
    overflow-x: hidden;

}

ul {
    list-style-type: none;
}

.myx {
    width: 100%;
    height: 3000px;
    margin: auto;
    /* border: 4px double dodgerblue; */
}

.myx-container {
    width: 100%;
}

/* MYX Header Starts */

a {
    text-decoration: none;
    color: inherit;
}

.myx-header {
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;

}

.myx-logo {
    width: 53px;
    height: 36px;
    background-image: url(Images/logo.png);
    background-size: 1404px 105px;
    background-position: -462px 0;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 30px;
    cursor: pointer;

}

.header-menu {
    display: flex;
    /* margin-top: 30px; */
    /* margin-left: 10px; */
    letter-spacing: 0.3px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    gap: 30px;
    margin-top: 25px;
    color: #282c3f;
    padding: 0 17px 28px;
    margin-top: 30px;
    margin-left: 20px;
    height: 100%;
    cursor: pointer;
}

.header-menu div a {
    /* padding: 0px 17px 28px; */
    /* font-size: 14px;
    text-align: center; */
}

.search_bar {
    width: 483px;
    height: 40px;
    margin-left: 25px;
    margin-top: -10px;
    background-color: #f5f5f6;
    display: flex;
    border-radius: 4px;

}

.search_bar i {
    width: 43px;
    height: 40px;
    padding: 10px;
    margin-top: 3px;
    font-size: 15px;
    color: #696b79;
}

.search_bar input {
    width: 90%;
    background-color: #f5f5f6;
    border: none;
    outline: none;
}

.profile {
    width: 250px;
    height: 40px;
    color: #000;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin-top: -10px;
}

.profile div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-left: 15px;
}

.profile i {
    font-size: 20px;
    color: #282c3f;

}

.profile span {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.header-right {
    display: flex
}

.mid-two-images {
    display: flex;
    margin-left: 47px;
}

.multiple-images {
    display: flex;
    justify-content: space-evenly;
}

.scroll-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;

}

.scroll-images img {
    width: 218px;
    height: 287px;
}

.assets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.asset-img {
    width: 219px;
    height: 286px;
}

.last-3-images img {
    width: 219px;
    height: 286px;
}

.last-3-images {
    display: flex;
    justify-content: center;
}

.finalimage {
    display: flex;
    justify-content: space-around;


}

/* Middle Section Starts */

.myx-middle-container {
    margin-top: 50px;
    padding-top: 50px;
}

.home_middle_container {
    width: 100%;
    margin-top: 100px;
    /* margin-left: 50px; */
}

.home_middle_mid_section {
    width: 1512px;
    display: flex;
    /* margin-left: 30px; */
}

.furnish_in_style_img {
    margin-left: 50px;
}

.home_mid_section_left {
    width: 1100px;
    margin-left: 50px;
}

.home_mid_section_right {
    width: 350px;
}

.banner_title {
    color: #3e4152;
    font-size: 30px;
    margin: 50px 0 50px 30px;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: 3px;
}

.card-imageContainers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card_images {
    overflow: hidden;
}

.card_images img {
    width: 520px;
    height: 400px;
}

.card_images img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.navi_link {
    font-size: 15px;
    text-decoration: none;
    color: #3e4152;
    margin: 0;
    width: 100%;
    line-height: 45px;
}

.home_mid_section_right ul li {
    list-style-type: none;
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: #3e4152;
    margin: 0;
    display: inline-block;
    width: 100%;
    line-height: 24px;
}

.home_mid_section_right ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.get_inspired_image {
    width: 1550px;
    background-color: rgb(239, 237, 237);
}

.get_inspired_image img {
    width: 100%;
    height: 203px;
}

.get_inspired_cards {
    width: 1550px;
    height: 553px;
    background-color: rgb(239, 237, 237);
    display: flex;
    justify-content: center;
    gap: 8px;
}

.get_inspired_cards img {
    width: 456px;
    height: 483px;
}

.get_inspired_card_imgs {
    overflow: hidden;
}


.get_inspired_cards img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.featuredbrands {
    margin-left: 80px;

}

.featuredbrands img {
    width: 1452px;
    height: 185px;
}

.swayam_cards {
    display: flex;
    margin-left: 80px;
    gap: 8px;
}

.swayam-images {
    width: 270px;
    height: 174px;
    overflow: hidden;
}

.swayam-images img {
    width: 270px;
    height: 174px;

}

.swayam-images :hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.off_conatiner {
    position: fixed;
    bottom: 130px;
    /* left: 1450px; */
    right: 0;
    width: 44px;
    height: 288px;
    background-color: #535766;
    z-index: 6;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;

}

.off_container_arrow {
    border-right: 14px solid #fff;
    width: 0;
    height: 0;
    margin: 24px 16px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.off_conatiner span {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    width: 36px;
    padding: 4px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fcfcfc;
    cursor: pointer;
}

.new {
    width: 37px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(245, 193, 69), rgb(249, 180, 21));
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2147483647;
    bottom: -15px;
    left: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.bell_icon {
    fill: rgb(29, 133, 252);
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(29, 133, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 25px;
    color: #FAFBFC;
    font-weight: lighter;
    cursor: pointer;
}

.off_conatiner span:nth-child(2) {}

/* Middle Home Ends */


/* Home Footer Starts */

.home-footer {
    width: 100%;
    background: #FAFBFC;
    margin-top: 70px;
    font-size: 15px;
}

.footer-4-info {
    width: 1290px;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.first-info div {
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #282c3f;
    font-size: 12px;
}

.first-info li {
    color: #696b79;
    line-height: 25px;
    font-weight: lighter;
}

.icons img {
    margin: 0 15px 0 0;
}


.original {
    display: flex;
    margin: 30px 0 30px;
}

.original p {
    gap: 10px;
}

.fourteen {
    display: flex;
    margin: 15px 0 30px;
}

.fourteen p {
    text-align: center;
}

.home-footer-bottom {
    width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.home-footer-bottom div {
    margin-top: 10px;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #282c3f;
    font-size: 12px;
    margin: auto;
    display: flex;
}



.home-footer-bottom p {
    margin-top: 20px;
    margin: auto;
    color: #696b79;
    line-height: 27px;
    font-size: 17px;
    font-weight: lighter;
}

.contact-footer {
    /* margin: auto; */
    width: 1080px;
    margin: auto;

}

.para-contact {
    display: flex;
    justify-content: space-between;
    margin-left: -55px;
    margin-top: 40px;
    font-size: 17px;
    font-weight: lighter;
    color: #282c3f;
    margin-bottom: 20px;
    width: 1200px;
}



.para-contact a {
    color: #526cd0;
    font-size: 17px;
    font-weight: 700;
}

.office-address {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.office-address div {
    font-weight: bold;
    color: #282c3f;
    font-size: 14px;
    /* margin-left: 10px; */
    margin-bottom: 20px;
    margin-top: 25px;
}

.office-address ul li {

    /* margin-left: 16px; */
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    display: flex;
}

.Address-two {
    position: absolute;
    right: 90px;
    bottom: 0;
}

.footer_online_shop {
    width: 1200px;
    margin: 30px auto;
}

.footer_online_shop_div {
    /* margin-left: 10px; */
    margin-bottom: 20px;
    margin-top: 25px;
}

.footer_online_shop div {
    font-weight: bold;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer_online_shop span {
    margin-top: 5px;
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    display: flex;
}

.footer_best_online_shop {
    width: 1200px;
    margin: 30px auto;
}

.footer_best_online_shop_div {
    /* margin-left: 10px; */
    margin-bottom: 20px;
    margin-top: 25px;
}

.head {
    font-weight: bold;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer_best_online_shop span {
    margin-top: 5px;
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    display: flex;
    margin-bottom: 10px;
}

.footer_best_online_shop_div ol li b {
    font-weight: 600;
    color: #282c3f;
    font-size: 14px;
}

.footer_best_online_shop_div ol li {
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    padding: 10px;
    margin-left: 35px;
}

.myx_insider {
    width: 1200px;
    margin: 30px auto;
}

.myx_insider_div {
    /* margin-left: 10px; */
    margin-bottom: 20px;
    margin-top: 25px;
    font-weight: bold;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 10px;
}

.myx_insider_div div {
    font-weight: bold;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 10px;
}

.myx_insider_div span {
    margin-top: 5px;
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    display: flex;
    margin-bottom: 20px;
}

.myx_insider_div dl dd {
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    padding: 10px;
    margin-left: 35px;
}

.myx_studio {
    width: 1200px;
    margin: 30px auto;
}

.myx_studio_div {
    /* margin-left: 10px; */
    margin-bottom: 20px;
    margin-top: 25px;
    font-weight: bold;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 10px;
}

.myx_studio_div div {
    font-weight: bold;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 10px;
}

.myx_studio_div span {
    margin-top: 5px;
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    display: flex;
    margin-bottom: 20px;
}

.myx_studio_div dl {
    margin-left: 25px;
}

.myx_studio_div dl dt {
    margin-top: 20px;
}

.myx_studio_div dl dd {
    color: #696b79;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    font-weight: 100;
    padding-top: 10px;
}

.homemenu {
    position: relative;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.mega-menu {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
    top: 50px;
    left: -230px;
    background-color: #fff;
    display: flex;
    gap: 40px;
    opacity: 0;
    visibility: hidden;
    z-index: 11100000000;
    width: max-content;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    height: 440px;
}

.homemenu:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.mega-column {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 10px;
    margin-top: -15px;
    width: 150px;
    margin-left: -20px;
    margin-right: 20px;
}

.mega-column-mid {
    display: flex;
    flex-direction: column;
    line-height: 10px;
    background-color: #f9f9f9;
    min-width: 220px;
    margin-top: -20px;
    height: 440px;
}

.mega-column-mid h4 {
    color: #f2c210;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 11px;
    text-align: left;
    padding-left: 20px;

}

.mega-column-mid a {
    font-size: 10px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 500;
    cursor: pointer;
    line-height: 15px;
    margin-bottom: 8px;
    text-align: left;
    padding-left: 20px;
    white-space: nowrap;
}

.mega-column h4 {
    color: #f2c210;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 11px;
    text-align: left;
    white-space: nowrap;

}

.mega-column a {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .3px;
    color: #282c3f;
    display: block;
    line-height: 15px;
    margin-bottom: 8px;
    text-align: left;
    white-space: nowrap;
}

.seperator {
    width: 140px;
    border: 0.7px solid #eaeaec;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -5px;
    font-weight: lighter;
}

.seperator-mid {
    width: 158px;
    border: 0.7px solid #eaeaec;
    margin-top: 8px;
    margin-left: 10px;
    font-weight: lighter;
}